@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
.bodyIndex {
  min-height: 100vh;
  background: linear-gradient(180deg, #1b1b1b 0%, #11114b 100%); }

.containerIndex {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .containerIndex-stars {
    position: absolute;
    display: flex; }
    .containerIndex-stars-star {
      width: 15px;
      height: 15px;
      background: #fafde2;
      margin: 0 4px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #fdffdf82, 0 0 25px #fafde2, 0 0 50px #fafde2;
      animation: anim calc( 120s / var(--i) ) linear infinite; }

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .profile-img {
    max-width: 200px;
    height: auto;
    border: 7px solid #F7F7F7;
    padding: 10px;
    border-radius: 50%;
    transition: 2s; }
    .profile-img:hover {
      filter: grayscale(100%);
      transform: scale(1.1, 1.1); }
@media(max-width: 863px) {
  .profile-img {
    max-width: 200px;
    border: 5px solid #F7F7F7; } }
  .profile-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    border: solid 2px #F7F7F7;
    border-radius: 25px;
    padding: 15px;
    width: 300px; }
    .profile-button:hover {
      border: #212121;
      background: #F7F7F7; }
@media(max-width: 863px) {
  .profile-button {
    width: 100px; } }
@media(max-width: 1000px) {
  .profile-button {
    width: 250px; } }
    .profile-button-link {
      text-decoration: none;
      color: #F7F7F7;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-weight: 400; }
      .profile-button-link:hover {
        color: #212121; }

@keyframes anim {
  0% {
    transform: translateY(100vh) scale(0); }
  100% {
    transform: translateY(-10vh) scale(1); } }
.header {
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-backArrow {
    margin-left: 20px; }
    .header-backArrow-link-image {
      width: 20px;
      margin: 20px 0;
      filter: invert(90%); }
  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start; }
    .header-nav-hamburguer {
      display: none;
      max-width: 30px;
      margin: 0 20px 0 0; }
@media(max-width: 863px) {
  .header-nav-hamburguer {
    display: block;
    cursor: pointer; } }
    .header-nav-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1; }
@media(max-width: 863px) {
  .header-nav-list {
    display: none;
    border-left: solid 1px #818FB4; } }
      .header-nav-list-item {
        margin: 0 20px; }
        .header-nav-list-item-link:hover {
          color: #818FB4;
          padding-bottom: 5px; }
@media(max-width: 863px) {
  .header-nav-list-item {
    padding: 5px;
    border-left: 1 solid #818FB4; }
    .header-nav-list-item:hover {
      color: #818FB4;
      border-bottom: solid 1px #818FB4; } }
.header-nav-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 20px 20px 0; }

.header-nav-list-item-link.active {
  padding: 20px 0 0 0; }

.main {
  background-color: #24213c; }

.main-certificates-card-link-img {
  max-width: 125px; }

.main {
  padding: 0 50px; }
@media(max-width: 1000px) {}
  .main-welcome {
    height: 100vh;
    width: calc(100vh - auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-welcome-title {
      font-family: "EB Garamond", serif;
      padding-top: 40px;
      font-weight: 200;
      text-align: center;
      font-size: 4rem; }
@media(max-width: 863px) {
  .main-welcome-title {
    font-size: 3rem; } }
    .main-welcome-subTitle {
      text-align: center;
      font-weight: 200;
      margin-bottom: 40px; }
    .main-welcome-hr {
      width: 50%;
      margin: 0 auto 0 auto; }
    .main-welcome-paragraph {
      margin: 40px;
      text-align: center; }

.main-experience {
  margin: 50px 0; }
  .main-experience-subTitle {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 0 40px 20px; }
    .main-experience-subTitle::before {
      content: "• "; }
  .main-experience-box1 {
    margin: 0 20px 20px 20px; }
@media(max-width: 863px) {
  .main-experience-box1 {
    display: flex;
    flex-direction: column; } }
    .main-experience-box1-paragraph {
      padding-right: 20px; }
@media(max-width: 863px) {
  .main-experience-box1-paragraph {
    padding-bottom: 20px; } }
  .main-experience-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
@media(max-width: 863px) {
  .main-experience-box2 {
    align-items: flex-start; } }
    .main-experience-box2-title {
      font-family: "EB Garamond", serif;
      font-size: 2rem;
      font-weight: 200;
      margin: 0 0 40px 20px; }
      .main-experience-box2-title::before {
        content: "• "; }
    .main-experience-box2-line1 {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap; }
      .main-experience-box2-line1-image {
        margin: 0 0 20px 20px;
        width: 50px; }
    .main-experience-box2-line2 {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap; }
      .main-experience-box2-line2-image {
        margin: 0 0 20px 20px;
        width: 50px; }
    .main-experience-box2-line3 {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap; }
      .main-experience-box2-line3-image {
        margin: 0 0 20px 20px;
        width: 50px; }

.main-certificates-subTitle {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 0 40px 20px; }
  .main-certificates-subTitle::before {
    content: "• "; }
.main-certificates-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .main-certificates-cards-card {
    margin: 40px;
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    text-align: center;
    border: 2px solid #F5E8C7;
    border-radius: 25px;
    padding: 20px; }
    .main-certificates-cards-card:hover {
      border: 2px solid #a5b8ee; }
    .main-certificates-cards-card-link-img {
      max-width: 125px;
      filter: invert(90%);
      padding: 20px 0; }
      .main-certificates-cards-card-link-img:hover {
        filter: invert(10%); }
    .main-certificates-cards-card-link-infos-paragraphSchool {
      font-size: 1.75rem;
      margin-bottom: 20px;
      color: #a5b8ee;
      font-weight: 500; }
    .main-certificates-cards-card-link-infos-paragraphCourse {
      font-weight: 200; }

.main-articles {
  margin: 50px 0; }
  .main-articles-subTitle {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 0 40px 20px; }
    .main-articles-subTitle::before {
      content: "• "; }
  .main-articles-list {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-articles-list-item {
      flex-direction: column;
      margin-bottom: 20px;
      width: 50%;
      text-align: center;
      border: 2px solid #F5E8C7;
      padding: 10px 15px;
      border-radius: 50px; }
      .main-articles-list-item:hover {
        background-color: #818FB4; }
        .main-articles-list-item:hover-link {
          color: #F7F7F7; }

.main-projects {
  margin: 50px 0; }
  .main-projects-subTitle {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 0 40px 20px; }
    .main-projects-subTitle::before {
      content: "• "; }
  .main-projects-listTitle {
    margin: 0 0 10px 40px;
    font-size: 1.25rem;
    font-weight: 200;
    color: #F5E8C7; }
    .main-projects-listTitle::before {
      content: "✭ "; }
  .main-projects-listA {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
@media(max-width: 863px) {
  .main-projects-listA {
    flex-direction: column; } }
    .main-projects-listA-item-link {
      margin-left: 20px;
      font-weight: 300; }
  .main-projects-listB {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
@media(max-width: 863px) {
  .main-projects-listB {
    flex-direction: column; } }
    .main-projects-listB-item-link {
      margin-left: 20px;
      font-weight: 300; }

.main-graduation {
  margin: 50px 0; }
  .main-graduation-subTitle {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 0 40px 20px; }
    .main-graduation-subTitle::before {
      content: "• "; }
  .main-graduation-list {
    margin: 0 auto 40px 20px;
    width: 50%;
    height: 25px;
    border: 2px solid #F5E8C7;
    border-radius: 20px;
    cursor: pointer; }
    .main-graduation-list:hover {
      background-color: #212121; }
    .main-graduation-list-item {
      height: 100%;
      border-radius: 20px;
      background-color: #a5b8ee; }
      .main-graduation-list-item:hover {
        background-color: #F7F7F7; }

.main-contact {
  margin-top: 50px;
  padding-bottom: 50px; }
  .main-contact-subTitle {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 0 40px 20px; }
    .main-contact-subTitle::before {
      content: "• "; }
  .main-contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .main-contact-list-item {
      flex-direction: column;
      margin-bottom: 20px;
      width: 50%;
      text-align: center;
      border: 2px solid #F5E8C7;
      padding: 10px 15px;
      border-radius: 50px; }
      .main-contact-list-item:hover {
        background-color: #818FB4; }
        .main-contact-list-item:hover-link {
          color: #F7F7F7; }

.footer {
  padding: 20px 0;
  background: #212121;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem; }
@media(max-width: 863px) {
  .footer {
    flex-direction: column;
    padding: 20px 10px; } }
  .footer-text {
    margin: 10px auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #F7F7F7; }

/*# sourceMappingURL=styles.css.map */
