@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.bodyIndex {
  min-height: 100vh;
  background: linear-gradient(180deg, #1b1b1b 0%, #11114b 100%); }

.containerIndex {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .containerIndex-stars {
    position: absolute;
    display: flex; }
    .containerIndex-stars-star {
      width: 15px;
      height: 15px;
      background: #fafde2;
      margin: 0 4px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #fdffdf82, 0 0 25px #fafde2, 0 0 50px #fafde2;
      animation: anim calc( 120s / var(--i) ) linear infinite; }

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .profile-img {
    max-width: 200px;
    height: auto;
    border: 7px solid #F7F7F7;
    padding: 10px;
    border-radius: 50%;
    transition: 2s; }
    .profile-img:hover {
      filter: grayscale(100%);
      transform: scale(1.1, 1.1); }
@media(max-width: 863px) {
  .profile-img {
    max-width: 200px;
    border: 5px solid #F7F7F7; } }
  .profile-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    border: solid 2px #F7F7F7;
    border-radius: 25px;
    padding: 15px;
    width: 300px; }
    .profile-button:hover {
      border: #212121;
      background: #F7F7F7; }
@media(max-width: 863px) {
  .profile-button {
    width: 100px; } }
@media(max-width: 1000px) {
  .profile-button {
    width: 250px; } }
    .profile-button-link {
      text-decoration: none;
      color: #F7F7F7;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-weight: 400; }
      .profile-button-link:hover {
        color: #212121; }

@keyframes anim {
  0% {
    transform: translateY(100vh) scale(0); }
  100% {
    transform: translateY(-10vh) scale(1); } }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-backArrow {
    margin-left: 20px; }
    .header-backArrow-link-image {
      width: 20px;
      margin: 20px 0;
      filter: invert(90%); }
  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start; }
    .header-nav-hamburguer {
      display: none;
      max-width: 30px;
      margin: 0 20px 0 0; }
@media(max-width: 863px) {
  .header-nav-hamburguer {
    display: block;
    cursor: pointer; } }
    .header-nav-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1; }
@media(max-width: 863px) {
  .header-nav-list {
    display: none;
    border-left: solid 1px #818FB4; } }
      .header-nav-list-item {
        margin: 0 20px; }
        .header-nav-list-item-link:hover {
          color: #818FB4;
          padding-bottom: 5px; }
@media(max-width: 863px) {
  .header-nav-list-item {
    padding: 5px;
    border-left: 1 solid #818FB4; }
    .header-nav-list-item:hover {
      color: #818FB4;
      border-bottom: solid 1px #818FB4; } }
.header-nav-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 20px 20px 0; }

.header-nav-list-item-link.active {
  padding: 20px 0 0 0; }

.container {
  background-color: #24213c; }

.main-certificates-card-link-img {
  max-width: 125px; }

.main-welcome-title {
  margin: 20px auto 0 auto;
  font-weight: 200;
  text-align: center;
  font-size: 3rem; }
.main-welcome-subTitle {
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px; }
.main-welcome-hr {
  width: 50%;
  margin: 0 auto 0 auto; }
.main-welcome-paragraph {
  margin: 20px;
  text-align: center; }

.main-experience-subTitle {
  font-size: 2rem;
  font-weight: 200;
  margin: 0 0 20px 20px; }
  .main-experience-subTitle::before {
    content: "• "; }
.main-experience-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px 20px; }
@media(max-width: 863px) {
  .main-experience-box1 {
    display: flex;
    flex-direction: column; } }
  .main-experience-box1-paragraph {
    padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #F7F7F7; }

/*# sourceMappingURL=styles.css.map */
