@import 'mixins'
@import 'variables'

.main
    &-graduation
        margin: 50px 0
        &-subTitle
            @include subTitle
        &-list
            margin: 0 auto 40px 20px
            width: 50%
            height: 25px
            border: 2px solid $quaternary-color
            border-radius: 20px
            cursor: pointer
            &:hover
                background-color: $black-color
            &-item
                height: 100%
                border-radius: 20px
                background-color: $quinternary-color
                &:hover
                    background-color: $white-color
