@import 'mixins'
@import 'variables'

.footer
    padding: 20px 0
    background: $black-color
    display: flex
    text-align: center
    align-items: center
    justify-content: center
    font-size: 0.95rem
    @include screen863
        flex-direction: column
        padding: 20px 10px
    &-text
        margin: 10px auto
