@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap')
$star: #fafde2
$shadow-star: #fdffdf82
$black-color: #212121
$white-color: #F7F7F7
$backgroundIndex: linear-gradient(180deg, rgba(27,27,27,1) 0%, #11114b 100%)
$main-font: 'Montserrat', sans-serif
$primary-color: #24213c
$secondary-color: #435585
$tertiary-color: #818FB4
$quaternary-color: #F5E8C7