@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap')
$first-star: #e5ff00
$second-star: #e5ff0044
$black-color: #212121
$white-color: #F7F7F7
$backgroundIndex: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(25,25,112,1) 100%)
$main-font: 'Montserrat', sans-serif